:root {
    --basic: #f44336;
    --basic-2: #47c387;
    --basic-3: #ffd600;
    --basic-4: #1a55af;
    --basic-5: #a0e8fe;
    --basic-6: #07275a;
    --basic-light: #f4433641;
    --dark-pink: #e91e63;
    --light-pink: #ff7676;
    --light-blue: #00bcd4;
    --dark-blue: #3b25e6;
    --blue: #007bff;
    --violet: #796aee;
    --dark-green: #8bc34a;
    --light-green: #54e69d;
    --dark-orange: #ff9800;
    --medium-orange: #ff9500;
    --light-orange: #ffc36d;
    --color-gray-dark: #343a40;
    --color-gray-light: #6c757d;
    --color-background-light: #e9e9e9;
    --color-background-dark: #f3f3f3;
    --color-background-medium: #cccccc;
    --color-text-light-1: #f5f5f5;
    --color-text-light-2: #f8f9fa;
    --color-text-medium-1: #747577;
    --color-text-medium-2: #7d8da1;
    --color-text-dark-1: #555;
    --color-text-dark-2: #f5f5f5;
    --color-black-light: #0000000e;
    --color-black-medium: #00000038;
    --dark-teal: #009688;
    --primary: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --border-radius-card: 2rem;
    --border-radius-small: 0.4rem;
    --border-radius-medium: 0.8rem;
    --border-radius-large: 1.2rem;
    --box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    --box-shadow-light: 0 2px 10px rgb(0 0 0 / 30%);
    --box-shadow-medium: 0 2px 10px rgb(0 0 0 / 40%);
    --box-shadow-dark: 0 2px 10px rgb(0 0 0 / 50%);
}